<div class="container" ng-controller="customersController as customer">
    <header>
        <h3>Customers</h3>
    </header>
    <div class="row">
    <form  ng-submit="customer.insertCustomer()">
         <div class="span3">
            First Name:
            <br />
            <input  type="text" placeholder="First Name" ng-model="customer.firstName">
        </div>
        <div class="span3">
            Last Name:
            <br />
            <input  type="text" placeholder="Last Name" ng-model="customer.lastName">
        </div>
        <div class="span6">
            City:
            <br />
            <input  type="text" placeholder="Customer City" ng-model="customer.city">
            <button id="submitCustomer" class="btn btn-primary" type="submit">Add Customer</button>
        </div>  
    </form>      
    </div>
    <br /><br />
    <div class="row" >
        <div class="span3 card" ng-repeat="item in customer.customers" >
            <button class="btn close cardClose" ng-click="customer.deleteCustomer(item.id)">&times;</button>
            <div class="cardHeader">{{item.firstName}} {{item.lastName}}</div>
            <div class="cardBody">{{item.city}}</div>
            <a href="#/customerorders/{{item.id}}" class="cardBody btn-link">View {{item.orders.length}} Orders</a>
        </div>                  
    </div>
</div>